$mustard: #FC9B29;
$chocolate: #3E0F04;
$brown: #8A3106;
$red: #F00001;

@font-face {
    font-family: 'Objectivity';
    font-style: bold;
    font-weight: 700;
    src: url(/Objectivity/Objectivity-Black.otf) format('otf'),
      url(/Objectivity/Objectivity-Black.woff2) format('woff2');
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

nav{
    font-family: 'Objectivity';
    background-color: $brown;
    padding: 10px 0px 10px 0px;
    .row{
        div{
            &:first-child{
                text-align: start;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                label{
                    border-radius: 13px;
                    font-size: 30px;
                    text-decoration: none;
                    color: white;
                    background-color: #6B7727;
                    padding: 10px 9px 10px 9px;
                    margin-left: 30px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            &:nth-child(2){
                text-align: center;
                img{
                    width: 180px
                }
            }
            &:nth-child(3){
                text-align: end;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                a{
                    border-radius: 13px;
                    font-size: 24px;
                    text-decoration: none;
                    color: black;
                    background-color: $mustard;
                    padding: 16px 11px 12px 11px;
                }
            }
        }
    }
}

/* menú lateral*/

#btn-menu{
    display: none;
}

.container-menu {
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
  
#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
  
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: $brown;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
  
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}
  
.cont-menu {
    nav {
      transform: translateY(15%);
  
      a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
  
        &:hover {
          border-left: 5px solid #c7c7c7;
          background: $mustard;
          color: black;
        }
      }
    }
  
    label {
      position: absolute;
      right: 5px;
      top: 10px;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
    }
}

/* fin menu lateral*/

#form-container{
    height: 82vh;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $brown;
    h1{
        font-family: 'Objectivity';
        color: white;
        font-size: 70px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        color: black;
        label{
            color: white;
            text-transform: capitalize;
        }
        input{
            &:focus{
                outline: 0;
            }
        }
        button{
            background-color: $mustard;
            color: black;
            border: none;
            padding: 8px 25px;
            border-radius: 10px;
        }
    }
}